<ion-header>
  <ion-navbar color="primary">
    <ion-title>Events</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToCreatePage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-list>
    <ion-item *ngFor="let event of eventList | async" (click)="pickSlot(event.id)">
      <ion-item *ngIf="event.user==''">   <!--Display only the events that are not assigned to any user-->
      <ion-thumbnail item-left>
          <img [src]="event.image">
          
      </ion-thumbnail>
      <p text-wrap> <b> {{ event.name }} </b></p>
      
      <ion-note> <p> {{ event.location }} </p> </ion-note>
      <ion-note> <p>{{ event.date }}</p></ion-note>
      <ion-note><p>{{ event.time }}</p></ion-note>
    </ion-item>
    </ion-item>
  </ion-list>
</ion-content>
